// Secrets Configuration Template
// Copy this file to Secrets.xcconfig and fill in your API keys
// DO NOT commit Secrets.xcconfig to git

// Discogs API - Get keys at: https://www.discogs.com/settings/developers
DISCOGS_CONSUMER_KEY = your_discogs_key_here
DISCOGS_CONSUMER_SECRET = your_discogs_secret_here

// Last.fm API - Get key at: https://www.last.fm/api/account/create
LASTFM_API_KEY = your_lastfm_key_here
